<h1> <%= current_user.email%> </h1>
<h1> My connections </h1>
<br>
<h2> <%= link_to 'New Connection', new_connection_path %></h2>
<div class="grid-container">

            <div><%= link_to "Work", connections_work_path %></div>
 
            <div><%= link_to "Family", connections_family_path %></div>

            <div><%= link_to "Friends", connections_friends_path %></div>

            <div><%= link_to "Church", connections_church_path %></div>

            <div><%= link_to "Entrepenurship", connections_entrepenurship_path %></div>


</div>
<div>
<div class="grid-container">
        <% @prompts.each do |p| %>
        <div><%= p.person_of_interest.name %>
            <br>
            <%= p.description %>
            <br>
            <%= p.due_date %>
            <br>
            <p><%= p.notes %></p>

            </div>
    <% end %>
</div>


</div>