<h1> <%= current_user.email%> </h1>
<h1> My connections </h1>
<br>
<h2> <%= link_to 'New Connection', new_connection_path %></h2>
<ul>

        <li>
            <%= link_to "Work", connections_work_path %>
        </li>
        <li> 
            <%= link_to "Family", connections_family_path %>
        </li>
        <li>
            <%= link_to "Friends", connections_friends_path %>
        </li>
        <li>
            <%= link_to "Church", connections_church_path %>
        </li>
        <li>
            <%= link_to "Entrepenurship", connections_entrepenurship_path %>
        </li>
</ul>