<h1> Who'd you meet? </h1>

<%= form_for @connection do |f| %>
    <%= f.label :description %>
        <%= flash[:errors] if flash[:errors] %>
    
  <%= f.select :description, ["Family","Work","Friends", "Church", "Entrepenurship"]%>
<br>
  <%= f.fields_for :person_of_interest do |p| %>
        Name: <%= p.text_field :name %>
        <br>
        Email:<%= p.text_field :email %>
        <br>
        Phone Number: <%= p.text_field :phone_number%>
        <br>
        Occupation: <%= p.text_field :occupation %>
        <br>
        Goals: <%= p.text_field :goals %>
    <% end %>
    <%= hidden_field_tag(:user_id, params[:user_id]) %>
  <%= f.submit %>
<% end %>

