<!DOCTYPE html>
<html>
  <head>
    <title>EC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <nav>
      <%= if signed_in? do  %>
        <%= link_to 'logout', destroy_user_session_path, method: :delete %>
        <% end %>
      <% end %>
      </nav>
    </div>

    <%= yield %>
  </body>
</html>
