<!DOCTYPE html>
<html>
  <head>
    <title>EC</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if current_user %>
    
      <div class="topnav">
            <div class="topnav a">
            <%= link_to 'logout', destroy_user_session_path, method: :delete %>
            <%= link_to 'My connections', root_path, method: :get %>
            </div>
      </div>
    
  <% else %>
    
      <div class="topnav">
        <nav>
          <div class="nav-wrapper">
            <%= link_to 'logout', destroy_user_session_path, method: :delete %>
          </div>
        </nav>
      </div>


  <% end %>
    <div class="title">
      <h1>Empowered Connections</h1>
    </div>
    <div class="e">

    </div>
    <div class="container">
      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>
        <div class="content" >
          <%= yield %>
        </div>
    </div>

  </body>
</html>
