<h1> <%= @person_of_interest.name %></h1>
<%@person_of_interest.connections.each do |connection|%>
    <% if has_permission(connection) %>
     <h4> <%= connection.description %></h4>
        <%= link_to "forget this person", connection_person_of_interest_path(connection.id, @person_of_interest.id), :method => "delete", :class => 'destroy'%>
        <%= link_to "Edit their info", edit_connection_person_of_interest_path(connection.id, @person_of_interest.id), :class =>"update" %>
    <% end %>
<% end %>
<div class="grid-container">
    <div>
        <%= @person_of_interest.email %>
    </div>

    <div>
        <%= @person_of_interest.phone_number %>
    </div>

    <div>
     <%= @person_of_interest.occupation %>
    </div>

    <div>
        <%= @person_of_interest.goals %>
    </div>

</div>
<div>
<div >
<%= render partial: 'prompts/form', locals: {person_of_interest: @person_of_interest} %>
</div>

<% if !@person_of_interest.prompts.empty?  %>
    <ul>
    <% @prompts.each do |prompt| %>
        <%if has_permission(prompt)%>
        <li>
            <div>
                <%= render partial: "prompts/show", locals: {prompt: prompt} %>
            </div>
        </li>
        <% end %>
    <% end %>
    </ul>
<% end %>
</div>
